/* #search{
    padding: 10px 150px;
    border-radius: 5px;
margin-left: 33%;
margin-top: 35px;
}
#btn{
    padding: 10px 20px;
    border-radius: 3px;
}  */
/* .img2{
    margin-left: 35%;
    margin-top: 35px;
} */
#img1{
    height: 320px;
    width: 30%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
}
#img1 h1{
text-align: center;
margin-top: -20px;
color: #00000D;
font-size: 22px;

}
.p{
text-align: center;
color: rgb(55, 55, 55);
}
.h2{
   margin-left: 29%;
   margin-bottom: 14px;
    margin-top: 10px;
}
#box1{
    height: 300px;
    width: 40%;
    /* border: 1px solid blue ; */
    margin-left: 29%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(1,1fr);
   gap: 25px;
   /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.IMG{
    height: 300px;
    width: 100%;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.IMG img{
height: 150px;
width: 100%;
border-radius: 5px;
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}
.IMG h2{
text-align: left;
font-size: 15px;
margin-left: 10px;
margin-top: 40px;
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.IMG a{
 text-decoration: none; 
font-size: 15px;
margin-top: 25px;
margin-left: 20px;
color: rgb(0, 85, 255);
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
/* .leftbox{
height: 600px;
width: 30%;
border: 1px solid black;
margin-left: 70%;
} */



/* new css */

.div{
    height: 140px;
    width: 70%;
    /* border: 1px solid blue; */
/* gap: 10px; */
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title{
    color: #0066EE;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    
}
.div p{
    margin-left: 15px;
font-size: 15px;
color: #000000DE;
margin-top: 10px;
font-weight: 600px;
}
.div p1{
    margin-left: 15px;
font-size: 16px;
color: #000000DE ;
margin-top: 10px;
font-weight: 600px;
}
 .div1{
/* justify-items: center; */

height: 30px;
    width:8%;
border-radius: 20px;
margin: auto;
    border: 1px solid black;
} 
#search{
    margin-left: 33%;
    padding: 14px 195px;
    border-radius: 5px;
    margin-top: 27px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
#btn{
    padding: 14px 20px;
    border-radius: 10px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#container{
    margin-left: 30%;
}


