#nav1{
    
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    
} 
#nav1>div:nth-last-child(1){
    width: 10%;
    height: 100%;
   
    
}
#fit{
    color:#0066EE;
    display: block;
    width: 100%;
    margin-top: 0px;
    height: auto;
    max-width: 200px;
    margin-top: 10px
}
#nav1>div:nth-last-child(2){
    width: 20%;
    height: 100%;
    /* here our 4th child prp is working  */
    display: flex;
    color:rgb(255,255,255);
    font-size: 22px;
    justify-content: center;
    align-items: center;
    font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
    font-weight: 400;
}
#nav1>div:nth-last-child(3){
    width: 40%;
    height: 100%;
    
}
#nav1>div:nth-child(4){
    width: 20%;
    height: 100%;
    /* color:rgb(0,102,238); */
    font-size: 18px;
    /* font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif; */
    font-weight: 400;
    }
#nav1>div:nth-last-child(5){
   
    width: 10%;
    height: 100%;
    
}
.log{
  text-decoration: none;
  /* color:black */
  color:#0066EE;
  padding: 10px;
}
.login a{
    color:#0066EE;
}
.signup a{
    color:#0066EE;
}
#slash{
    color:white;
}
.navBar {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 100px; 
    background-color:rgb(0,102,238);

    margin: auto;
    
    
    }

    .navBar_content{
        width: 1200px;
        display: flex;
        height: 50px;
        align-items: center;
        display: flex;
        padding-left: 100px; 
        background-color:rgb(0,102,238);
        margin: auto;
    }
    .menu {
    
    display: flex;
    
    justify-content: center;
    color:white;
    font-size: 18px;
    
    font-weight: bold;
    font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
    font-weight: 700;
    padding-left: 50px;
    
    }
    
    
    .menu:hover {
    
    text-decoration: underline;
    
    }
    
    
    .material-icons {
    
    display: flex;
    
    justify-content: space-around;
    
    }
    
    
    .tool {
    
    width: 100%;
    
    display: flex;
    
    margin: 20px 20px;
    
    }
    
    
    a,
    
    a:hover,
    
    a:focus,
    
    a:active {
    
    text-decoration: none;
    
    /* color: white; */
    
    }
    
    
    
    #left
    {
    height: 60px;
    width: 35%;
    /* border: 1px solid black; */
    display: flex;
    
    }
    #left>div{
    margin: auto;
    
    }
    #yellow{
 
        height: 702px;
        width: 100px;
      
        right: 0px;
        top: 50px;
        position: absolute;
        background-color: #FFDD33;
    }
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    h1{
        font-size: 40px;
        /* font-weight: 200000px; */
    }
    
    #all{
        width: 100%;
        height:850px;
        background-image: url(https://www.myfitnesspal.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-collage-top-medium%402x.af485b9a.png&w=1080&q=75);
        background-size:cover;
    }
    #dbaa1{
        width:70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap:30px;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 70px;
        margin-top: 40px;
        /* border: 4px solid; */
    }
    p{
        font-size: 20px;
    }
    .pop{
        font-size: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .pop{
    margin-bottom: 10px;
        width:40%;
    text-align: center;
    }
    .pop>p{
    margin-top: 10px;
    }
    #div3{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 3px solid red; */
    }
    #div3>div{
    /* border: 2px solid; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 26px;
    align-items: center;
    }
    #div3>div>img{
    width:100px;
    }
    #bt1{
    padding: 13px 20px;
    background-color: rgb(70, 107, 210);
    border-radius: 6px;
    margin-bottom: 60px;
    color:white;
    font-size: 1rem;
    }
    #bt2{
        padding: 13px 20px;
        background-color: rgb(70, 107, 210);
        border-radius: 6px;
        margin-bottom: 60px;
        color:white;
        font-size: 1rem;
        }
    
    
    #div32{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    }
    #div32>div{
    display: flex;
    flex-direction: column;
    line-height: 26px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px 8px 0px 0px;
    }
    #div32>div>img{
    width:100%;
    border-radius: 5px;
    /* height: 100%; */
    border-radius: 8px 8px 0px 0px;
    }
    #div32>div>img+div{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    }
    span{
    color: blue;
    }
    #img6{
    display: flex;
    /* border: 2px solid; */
    width: 60%;
    }
    #img6>img{
    width: 100%;
    }
    .aa{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    
    }
    #bcg{
    
    width:26%;
    margin-left:180px;
    padding: 30px;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #bcg>h1{
    font-size: 50px;
    }
    #bcg>h1+p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 29px;
    margin-top: 9px;
    }
    .wr{
    margin-top: 40px;
    color: #0066EE;
    /* padding-left: 50px; */
    }
    #see{
    margin-top: 70px;
    width:40%;
    margin-left:180px;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    gap:20px;
    }
    input{
    width: 470px;
    padding: 8px 20px;
    border-radius: 10px;
    border-color: rgb(11, 11, 11);
    }    
    .blu{
    background-color: teal;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    }
    .gr{
    background-color: rgb(0, 179, 239);
       width: 100%;
    height: 20px;
    margin-top: 20px;
    }
    * {box-sizing:border-box}
    
    /* Slideshow container */
    .slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
    display: none;
    /* display: flex; */
    }
    
    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
    background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }
    
    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }
    .text{
    font-size: 20px;
    /* color:rgb(42, 68, 198); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .rt{
    font-size: 24px;
    color: white;
    font-weight: bolder;
    }
    #appstore{
        display: flex;
        gap:10px
    }
        
    
    

